body {
	background-color: #f9f9f9;
}

h1 {
	text-align: center;
  margin: 18% 5% 5% 5%;
  font-family: 'Fredericka the Great', cursive;
  font-size: 74px;
	color: black;
}

h2 {
	margin: 0% 0% 1% 0%;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 'bold';
}

p, td {
	font-size: 12px;
  font-family: 'Raleway', sans-serif;
}

.container-fluid {
	margin-bottom: 0.4%;
}

.intro-1 {
	height: 100vh;
	background: url(img/doors.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-2 {
	height: 100vh;
	text-align: center;

}

.intro-2 h1 {
	margin: 0% 0% 0% 0%;
	padding: 16% 0% 2% 0%;
	background-color: #589875;
	opacity: 0.8;
	color: white;
}

.subheading {
	font-size: 42px;
	font-family: 'Lora', serif;
}

.intro-3 {
	height: 100vh;
	background: url(img/bridge.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding: 10% 5% 10% 5%;
}

.intro-4 {
	height: 100vh;
	background: url(img/hands.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 10% 5% 10% 5%;
}

.cover {
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	font-size: 20px;
	color: white;
	padding: 10% 10% 10% 10%;
}

.cover h2 {
	font-size: 48px;
	margin-bottom: 2%;
	font-family: 'Fredericka the Great', cursive;
}

.cover p {
	font-size: 25px;
	font-family: 'Lora', serif;
}

.data-intro {
	height: 100vh;
	text-align: center;
	padding: 10% 7% 10% 7%;
}

.data-intro h2 {
	font-size: 48px;
	font-family: 'Lora', serif;
}

.end {
	height: 100vh;
	text-align: center;
	padding: 20% 0% 0% 0%;
}

.end h2 {
	font-size: 42px;
	font-family: 'Lora', serif;
}

.end h3 {
	font-family: 'Lora', serif;
}

#map-viz-container {
	margin: 0% 0% 0% 0%;
	height: 100vh;
	text-align: center;
	position: relative;
}

.map-heading {
	margin: 0% 0% 0% 0%;
}

.parent-viz-container {
	height: 100vh;
}

.viz-container {
	text-align: center;
	margin-top: 1%;
}

.filler {
	padding: 0.25% 1% 0% 1%;
	background-color: gray;
	opacity: 0.8;
	width: 90%;
	height: 4%;
	margin: 1% 5% 0% 5%;
}

.filter-controls {
	padding: 0.25% 1% 0% 1%;
	background-color: gray;
	opacity: 0.8;
	width: 90%;
	height: 4%;
	margin: 0% 5% 0% 5%;
}

.filter-controls p {
	color: white;
	font-size: 14px;
}

.filter-menu {
	margin: 0% 0% 0% 80%;
	padding: 0% 0% 2% 0%;
}

.filter-menu .label {
	margin-right: 20%;
}

.svg {
  width: 900;
  height: 900;
}

.slider {
	margin: auto;
  padding: 1%;
  width: 90%;
}

.viz-blurb {
	text-align: justify;
	padding: 5% 5% 2% 5%;
	margin: 5% 50% 5% 0%;
	/*#589875*/
	background-color: #589875;
	color: white;
	width: 100%;
	opacity: 0.7;
}

.viz-blurb p{
	font-size: 14px;
}

.viz-header {
	text-align: left;
	font-size: 12px;
	padding: 2% 2% 2% 2%;
	margin: 0% 0% 0% 0%;
	/*#589875*/
	background-color: #589875;
	color: white;
	width: 100%;
	opacity: 0.8;
}

.response-detail {
	margin-right: 10%;
	overflow-y: scroll;
	height: 50%;
	width: 100%;
}

.table {
	font-size: 12px;
}

/* Radar Chart Styling */
.radarChart {
	/*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
  cursor: default;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
}

.word-tip {
	color: white;
	background-color: gray;
	border-radius: 2px;
	opacity: 0.9;
	padding: 4px;
	z-index: 2;
}

#vote-viz {
	position: relative;
	margin-top: 3%;
}

.pie-tip {
	left: 60px;
	top: 20px;
	color: white;
	font-size: 16px;
	background-color: gray;
	border-radius: 2px;
	opacity: 0.9;
	padding: 2%;
	z-index: 50;
	width: 20%;
	height: 15%;
	display: none;
	box-shadow: 0 0 5px #999999;
	position: absolute;
	font-weight: bold;
}

.voter-filter-container {
	padding: 2%;
}

.voter-filter-container h2 {
	margin-top: 7%;
}

.question-dropdown {
	margin: 2%;
}

#vote-checkbox-container {
	margin: 2%;
	/*vertical-align: middle;*/
}

#vote-question-filter-btn {
	margin: 2%;
}

.label {
	display: inline-block;
	color: gray;
	font-size: 16px;
	margin-right: 2%;
}

.label .width {
	width: 10%;
}

.label .fixedWidth {
	width: 20%;
}
