body {
	background-color: #b7c0ce;
}

h1 {
	text-align: center;
  margin: 5%;
  margin-bottom: 2%;
}

h2 {
  margin: 1%;
  font-size: 14px;
}

.svg {
  width: 750;
  height: 750;
}

.slider {
	margin: auto;
  padding: 2%;
  width: 90%;
  margin-bottom: 5%;
}

.viz-blurb {
	text-align: justify;
	font-size: 12px;
	padding: 10% 15% 5% 0%;
	margin: 0%;
}

.response-detail {
	margin-right: 10%;
	overflow-y: scroll;
	height: 50%;
}

.table {
	font-size: 12px;
}